{% extends 'base.html' %} <!-- Inherit base template -->

{% block title %}
404 - Page Not Found
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card custom-card text-center menu-box">
                <div class="card-header">
                    <!-- Display the page title-->
                    <h2>404 - page Not Found!</h2>
                </div>
                <div class="card-body">
                    <!-- Error message for the user -->
                    <p class="lead text-yellow">Sorry, the page you're looking for doesn't exist.</p>
                    <p class="text-yellow">Would you like to go back?</p>

                    <!-- Different options for logged in users and guests -->
                    {% if user.is_staff %}
                    <!-- Redirect to admin dashboard if the user is an admin -->
                    <a href="{% url 'reservations:logged_in_admin' %}" class="btn btn-primary">Go to Admin Dashboard</a>
                    {% elif user.is_authenticated %}
                    <!-- Redirect to home page for logged-in users -->
                    <a href="{% url 'reservations:logged_in_user' %}" class="btn btn-primary">Go to Home Page</a>
                    {% else %}
                    <!-- Redirect to home page for guests -->
                    <a href="{% url 'home' %}" class="btn btn-primary">Go to Home Page</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block header-text %}
<!-- Override to modify or remove header text in base.html -->
{% endblock %}

{% block buttons %}
<!-- Override to modify or remove buttons in base.html -->
{% endblock %}

{% block bottom-section %}
<!-- Override to modify or remove bottom section in base.html -->
{% endblock %}