<!-- Page for user login -->
{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">
     <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card custom-card">
                <div class="card-header text-center">
                    <h2">Login</h2>
                </div>
                <!-- Logout message -->
                <div class="card-body">
                    {% if messages %}
                        <div id="message-container" class="text-center mb-3">
                            {% for message in messages %}
                                <div class="alert alert-{{ message.tags }} d-inline-block px-4 py-2" role="alert">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                    <form action="{% url 'login' %}" method="post">
                        {% csrf_token %}
                        <div class="form-group mb-3">
                            <label for="username">Username</label>
                            <input type="text" class="form-control" name="username" id="username" placeholder="Enter your username" autocomplete="username" required>
                        </div>
                        <div class="form-group mb-3">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" name="password" id="password" placeholder="Enter your password" autocomplete="current-password" required>
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Login</button>
                    </form>
                </div>
                <div class="card-footer text-center">
                    <small>Don´t have an account? <a href="{% url 'register' %}">Register here</a></small>
                </div>
            </div>
        </div>
     </div>
</div>
<!-- Function for logout message to disappear after 3 seconds -->
<script>
    setTimeout(function() {
        let alertMessages = document.querySelectorAll('.alert');
        // Loops through all alert messages
        alertMessages.forEach(function(alert) {
            // Css for smooth transition
            alert.style.transition = 'opacity 0.5s ease';
            alert.style.opacity = '0';
            // Wait for transition to complete before removing element
            setTimeout(function() {
                // Remove alert message from DOM
                alert.remove();
            }, 500); // Transition time
        });
    }, 3000); // Alerts hides after 3 seconds
</script>

{% endblock %}

{% block google_maps_script %}

{% endblock %}

{% block header-text %}
<!-- Override to modify or remove header text in base.html -->
{% endblock %}

{% block buttons %}
<!-- Override to modify or remove buttons in base.html -->
{% endblock %}

{% block bottom-section %}
<!-- Override to modify or remove bottom section in base.html -->
{% endblock %}