<!-- Page for user login -->
{% extends 'base.html' %} <!-- Inherit base template -->

{% block content %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card custom-card custom-background">
                <div class="card-header text-center log-in-title">
                    <!-- Display the page title -->
                    <h1>Log in</h1>
                </div>
                <!-- Logout message -->
                <div class="card-body">
                    {% if request.GET.next == '/reservations/create/' %}
                    <p class="text-center form-group mb-3">
                        You must be logged in to create a reservation.
                    </p>
                    {% endif %}

                    {% if messages %} <!-- Display any message -->
                    <div id="message-container" class="text-center mb-3">
                        <!-- Loop through each message -->
                        {% for message in messages %}
                        <div class="alert login-alert alert-{{ message.tags }} d-inline-block px-4 py-2" role="alert">
                            {{ message }} <!-- Display the message text -->
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}

                    <!-- Login form begins -->
                    <!-- Login form -->
                    <form action="{% url 'login' %}" method="post" autocomplete="on">
                        {% csrf_token %}
                        
                        <!-- Forwarding 'next' if the user came from a certain page-->
                        <input type="hidden" name="next" value="{{ request.GET.next }}">
                    
                        <div class="form-group mb-3">
                            <label for="username">Username</label>
                            <input type="text" class="form-control" name="username" id="username"
                                   placeholder="Enter your username" required autocomplete="username">
                        </div>
                    
                        <div class="form-group mb-3">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" name="password" id="password"
                                   placeholder="Enter your password" required autocomplete="current-password">
                        </div>
                    
                        <button type="submit" class="btn btn-primary w-100">Log in</button>
                    </form>
                    
                    
                    
                </div>

                <!-- Footer with registration link -->
                <div class="card-footer text-center">
                    <small>Don´t have an account? <a href="{% url 'register' %}">Register here</a></small>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block google_maps_script %}

{% endblock %}

{% block header-text %}
<!-- Override to modify or remove header text in base.html -->
{% endblock %}

{% block buttons %}
<!-- Override to modify or remove buttons in base.html -->
{% endblock %}

{% block bottom-section %}
<!-- Override to modify or remove bottom section in base.html -->
{% endblock %}