{% extends 'base.html' %}  <!-- Inherit base template -->

{% load static %} <!-- Load static files -->

{% block extra_css %} <!-- Block for extra CSS specific to this page -->
<link rel="stylesheet" href="{% static 'css/menu.css' %}">
{% endblock %}

{% block content %}
<div class="menu-container">
    
        
    <div class="menu-box">
        <!-- Display the page title -->
        <h1 class="menu-title">Menu</h1>
        <!-- Loop through each menu category -->
        {% for category in categories %}
            <!-- Container for each category -->
            <div class="menu-category">
                <!-- Display the category name -->
                <h2>{{ category.name }}</h2>
                <!-- Display the category description -->
                <p>{{ category.description }}</p>
                <div class="menu-items">
                    <!-- Loop through each menu item in the category -->
                    {% for item in category.menu_items.all %}
                        <div class="menu-item">
                            <!-- Display the item name -->
                            <h3>{{ item.name }}</h3>
                            <!-- Display the item description -->
                            <p>{{ item.description }}</p>
                            <!-- Display the item price -->
                            <p><strong>Price:</strong> €{{ item.price }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="text-center mt-4">
        {% if user.is_authenticated %}
            <a href="{% url 'reservations:create_reservation' %}" 
               class="btn btn-primary btn-lg menu-res-btn">
               Create Reservation
            </a>
        {% else %}
            <a href="{% url 'login' %}?next={% url 'reservations:create_reservation' %}" 
               class="btn btn-primary btn-lg menu-res-btn">
               Create Reservation
            </a>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block header-text %}
<!-- Override to modify or remove header text in base.html -->
{% endblock %}

{% block buttons %}
<!-- Override to modify or remove buttons in base.html -->
{% endblock %}

{% block bottom-section %}
<!-- Override to modify or remove bottom section in base.html -->
{% endblock %}