<!-- Contact page for reservation related question -->
{% extends 'base.html' %} <!-- Inherit base template -->

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card custom-card menu-box-contact">
                <div class="card-header text-center">
                    <h2>Contact Us to Change Your Reservation</h2>
                    <p>If you need to change your reservation, please contact us through the form below.</p>
                </div>
                <div class="card-body">
                    <!-- Display Django messages -->
                    {% if messages %}
                    <div class="mt-3 contact-us-alert">
                        {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}" role="alert">
                            {{ message }}
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}

                    <!-- Contact form -->
                    <form class="form_contact_us needs-validation" method="post" novalidate>
                        {% csrf_token %}
                        <input type="hidden" name="reservation_id"
                            value="{% if reservation %}{{ reservation.id }}{% endif %}">

                        <!-- Username Field -->
                        <div class="form-group mb-3">
                            <label for="username">Username</label>
                            <input type="text" class="form-control" id="username" name="username"
                                value="{{ username|default_if_none:'' }}" placeholder="Enter your username" autocomplete="username" required>
                            <div class="invalid-feedback">Please enter your username.</div>
                        </div>

                        <!-- Email Field -->
                        <div class="form-group mb-3">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" name="email"
                                value="{{ email|default_if_none:'' }}" placeholder="Enter your email" autocomplete="email" required>
                            <div class="invalid-feedback">Please enter a valid email.</div>
                        </div>

                        <!-- Message Field -->
                        <div class="form-group mb-3">
                            <label for="message">Message</label>
                            <textarea class="form-control" id="message" placeholder="At least 10 characters " min="10" name="message" rows="4"
                                placeholder="Enter your message"
                                required>{{ message_content|default_if_none:'' }}</textarea>
                            <div class="invalid-feedback">Please enter a message of at least 10 characters.</div>
                        </div>
                        <button type="submit" class="btn btn-primary w-100 submit-contact">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block google_maps_script %}

{% endblock %}

{% block header-text %}
<!-- Override to modify or remove header text in base.html -->
{% endblock %}

{% block buttons %}
<!-- Override to modify or remove buttons in base.html -->
{% endblock %}

{% block bottom-section %}
<!-- Override to modify or remove bottom section in base.html -->
{% endblock %}