{% extends 'base.html' %}

{% block content %}
<div class="container my-4">
    <div class="bg-light mp-4 rounded shadow-sm">
        <h2>Current reservations</h2>
        
        <!-- Reservation summary per date and time -->
        <div class="mb-3 text-dark">
            <h4>Summary of available spots per time slot</h4>
            <div class="table-responsive">
                <table class="table table-striped table-hover mt-3">
                    <thead class="thead-dark">
                        <tr>
                            <th>Date</th>
                            <th>Time</th>
                            <th>Reserved Spots</th>
                            <th>Available Spots</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for spot in spots_per_time_list %}
                        <tr>
                            <td>{{ spot.date }}</td>
                            <td>{{ spot.time }}</td>
                            <td>{{ spot.reserved_spots }}</td>
                            <td>{{ spot.available_spots }}</td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="4">No reservations found</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Individual reservation details -->
        <h4>Individual Reservations</h4>
        <div class="table-responsive">
            <table class="table table-striped table-hover mt-3">
                <thead class="thead-dark">
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Number of people</th>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>

                    {% for reservation in reservations %}
                    <tr>
                        <td>{{ reservation.reservation_name }}</td>
                        <td>{{ reservation.email }}</td> <!-- Test -->
                        <td>
                            <!-- Form for number of guests -->
                            <form method="post">
                                {% csrf_token %}
                                <input type="hidden" name="reservation_id" value="{{ reservation.id }}">
                                <input type="number" name="number_of_guests" value="{{ reservation.number_of_guests }}" min="1">
                                <button type="submit" name="edit" class="btn btn-sm btn-primary">Update</button>
                            </form>
                        </td>
                        <td>{{ reservation.date }}</td>
                        <td>{{ reservation.time }}</td>
                        <td>
                            <form method="post" style="display: inline;">
                                {% csrf_token %}
                                <input type="hidden" name="reservation_id" value="{{ reservation.id }}">
                                <button type="submit" name="delete" class="btn btn-sm btn-danger">Cancel</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block google_maps_script %}
<!-- Block google maps -->
{% endblock %}

{% block header-text %}
<!-- Override to modify or remove header text in base.html -->
{% endblock %}

{% block buttons %}
<!-- Override to modify or remove buttons in base.html -->
{% endblock %}

{% block bottom-section %}
<!-- Override to modify or remove bottom section in base.html -->
{% endblock %}