{% extends 'base.html' %} <!-- Inherit base template -->

{% block header-text %}
<header class="header-section">
    <div class="header-content">
        <h1>Welcome {{ user.username }}!</h1>
        <p>You're now logged in! Feel free to browse the menu or create a reservation.</p>
        <p>
            Use the 'Create Reservation' button to make a new booking.  
            To change or cancel an existing reservation, visit 'Bookings' and select 'Contact us' or 'My reservations'.  
            You can also click 'Menu' to explore our delicious dishes and seasonal specials.  
            If you want to see our location, click the "Show Map" button.
        </p>
    </div>
</header>
{% endblock %}
