{% extends 'base.html' %} <!-- Inherit base template -->

{% block header-text %}
<!-- Header section for admin users -->
<header class="header-section">
<div class="header-content">
    <!-- Welcome message for admin -->
    <h1>Welcome Admin!</h1>

    <!-- Message displayed on larger screens -->
    <p class="d-none d-md-block">
        As an admin, you can manage reservations, assist users with their bookings, and oversee important updates.  
        Use the options below to navigate quickly.
    </p>
    
    <!-- Message displayed on smaller screens -->
    <p class="d-block d-md-none">
        As an admin, you can manage reservations, assist users with their bookings, and oversee important updates.  
        Use the options in the navigation menu to quickly access the necessary features.
    </p>
    
</div>
</header>
{% endblock %}

{% block bottom-section %}

{% endblock %}