{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h1>Update reservations</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" name="Update" class="btn btn-primary">Update reservation</button>
        <button type="submit" name="cancel" class="btn-danger" onclick="return confirmCancellation();">Cancel reservation</button>    
    </form>

    <script>
        function confirmCancellation() {
            return confirm('Are you sure you want to cancel this reservation?');
        }
    </script>
</div>
{% endblock %}


{% block header-text %}
<!-- Override to modify or remove header text in base.html -->
{% endblock %}

{% block buttons %}
<!-- Override to modify or remove buttons in base.html -->
{% endblock %}

{% block bottom-section %}
<!-- Override to modify or remove bottom section in base.html -->
{% endblock %}

