html, body {
    height: 100%;
    margin: 0;
}

body {
    display:flex;
    flex-direction: column;
    font-family: 'Roboto', Arial, sans-serif;
    background-image: url('/static/images/pexels-chanwalrus-941861.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

main {
    flex-grow: 1;
}

footer {
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 1.2rem;
}

html body .navbar {
    background-color: rgba(0, 0, 0, 0.7) !important;
    padding: 20px 0;
}

.navbar-text {
    font-family: 'Playfair Display', serif;
    font-size: 1.8rem;
    font-weight: 700;
    color: #e6dac4;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
    line-height: normal;
}

.nav-link {
    color: #e6dac4;
    text-decoration: none;
}

.nav-link:hover, .nav-link:focus {
    color: #ffffff;
}

.nav-link.active {
    color:white;
    
}

.navbar-brand {
    white-space: nowrap;
    align-items: center;
    display: flex;
}

.navbar-brand i {
    color: #e6dac4;
    margin-right: 10px;
    vertical-align: middle;
    margin-left: 10px;
    font-size: 1.5rem;
}

.bottom-section {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    padding: 20px;
}

.bottom-section .col-md-6 {
    flex: 1; 
    padding: 10px; 
}

.col-md-6 {
    flex: 1;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    height: 350px;
    text-align: center; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.section-container {
    flex: 1;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    height: 350px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-title {
    text-align: center;
    margin-bottom: 10px;
    color: #fafafa; 
}

.opening-hours-content {
    text-align: center;
    color: white;
    flex-grow: 1;
}