---
name: Create email verification
about: The user getting an email about registration or reservation.
title: ''
labels: ''
assignees: ''

---

As a **user** I can **verify my email address** so that **I can confirm my account**

- When a user registers or updates their email, a verification email with a secure link is sent.

- When the user clicks the link,  the link is validated, the account is activated.

- When a user clicks on "login-required" links, Then check to verify their email address.
