{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  
  <!-- Meta tags -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description"
    content="Garden and grill, Discover our carefully crafted menu, featuring fresh, locally-sourced ingredients, served in a warm, inviting atmosphere.">
  <meta name="keywords"
    content="Restaurang, food, beverage, drinks menus, Stockholm, vegitarian, meat, grill, Garden and Grill">

  <!-- Title block that can be overridden in child templates -->
  <title>{% block title %}Garden and grill{% endblock %}</title>

  <!-- Google Fonts preloading and linking for performance -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preload" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" as="style">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

  <!-- Load Font Awesome in the background to improve performance -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    media="print" onload="this.media='all'">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">


  <!-- Load Bootstrap CSS in the background to improve performance -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" media="print"
    onload="this.media='all'">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">


  <!-- Favicon -->
  <link rel="icon" type="image/png" href="{% static 'favicon/favicon.ico' %}">
  
  
  <!-- Custom CSS -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">

  {% block extra_css %}
  <!-- Block for adding extra CSS if needed in child templates -->
  {% endblock %}
</head>

<body class="d-flex flex-column min-vh-100">
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <!-- Logo that redirects depending on user status -->
      <a class="navbar-brand"
        href="{% if user.is_staff %}{% url 'reservations:logged_in_admin' %}{% elif user.is_authenticated %}{% url 'reservations:logged_in_user' %}{% else %}{% url 'home' %}{% endif %}">
        <span class="navbar-text">Garden and Grill</span>
        <i class="fa-solid fa-utensils"></i>
      </a>
      <!-- Collapsible menu for smaller screens -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Navbar links for different user types -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'menu' %}">Menu</a>
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Bookings
            </a>
            <ul class="dropdown-menu">
              <!-- Links for admin -->
              {% if user.is_staff %}
              <li><a href="{% url 'reservations:create_reservation' %}" class="dropdown-item">Create
                  reservation</a></li>
              <li><a href="{% url 'reservations:list_reservation' %}" class="dropdown-item">Manage
                  reservation</a></li>
              {% else %}
              <!-- Link for users -->
              <li><a href="{% url 'reservations:create_reservation' %}" class="dropdown-item">Create
                  reservation</a></li>
              <li><a href="{% url 'reservations:change_reservation' %}" class="dropdown-item">Contact us</a></li>
              <li><a href="{% url 'reservations:users_reservations' %}" class="dropdown-item">My
                  reservations</a></li>
              {% endif %}
            </ul>
          </li>
          {% endif %}
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Log out</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'register' %}">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Log in</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>

  <!-- Welcome message -->
  {% block header-text %}
  <header class="header-section">
    <div class="header-content">
      {% if not user.is_authenticated %}
      <!-- Message for non logged in users -->
      <h1>Welcome to Garden and Grill</h1>
          <p>Experience a blend of comfort and elegance in the heart of the city.</p>
          <p class="lead">
            Located in the heart of Stockholm by the serene waterfront, Garden and Grill blends comfort, elegance, and
            exquisite dining. Whether you're visiting for a casual lunch or an intimate dinner, our warm and inviting
            atmosphere feels like home. <strong>Want to find us?</strong> Click "Show Map" to view our location.
            <strong>Curious about our dishes?</strong> Click "Menu" to explore our selection.
            <strong>Want to create a reservation?</strong> Please log in or register to make a reservation.
        </p>

      {% endif %}
    </div>
  </header>
  {% endblock %}

  <!-- Buttons for creating reservations or viewing menu -->
  {% block buttons %}
  <div class="navigation-buttons">
      {% if user.is_authenticated %}
      
      <!-- Buttons for admin users -->
      {% if user.is_staff %}
      <a href="{% url 'reservations:create_reservation' %}" class="btn btn-primary">Create Reservations</a>
      <a href="{% url 'reservations:list_reservation' %}" class="btn btn-secondary">Manage Reservations</a>
      {% else %}
      
      <!-- Buttons for regular users -->
      <button id="load-map-btn" class="btn btn-primary">Show Map</button>
      <a href="{% url 'reservations:create_reservation' %}" class="btn btn-primary">Create Reservation</a>
      <a href="{% url 'menu' %}" class="btn btn-secondary">Menu</a>
      {% endif %}
      
      {% else %}
      
      <!-- Buttons for non-logged-in users -->
      <button id="load-map-btn" class="btn btn-primary">Show Map</button>
      <a href="{% url 'login' %}?next={% url 'reservations:create_reservation' %}" class="btn btn-primary">Create Reservation</a>
      <a href="{% url 'menu' %}" class="btn btn-secondary">Menu</a>
          
      {% endif %}
  </div>
  {% endblock %}
  <main>
    <!-- Main content section -->
    {% block content %}
    {% endblock %}
  </main>


  <!-- Bottom Section (hidden for admin users) -->
  {% if not user.is_staff %}
  <div class="bottom-section">
      {% block bottom-section %}
      <!-- google maps -->
      <div class="col-md-5 d-flex flex-column justify-content-center align-items-center mb-4 mb-md-0">
        <button id="load-map-btn-mobile" class="btn btn-secondary">Show Map</button>
        <div id="map-container"></div>
    </div>

      <!-- Opening hours -->
      <div
        class="col-md-5 d-flex flex-column justify-content-center align-items-center text-center opening-hours-container">
        <div class="opening-hours-box">
          <h3 class="section-title">Opening Hours</h3>
          <div class="opening-hours-content">
            <h4>Lunch Opening Times</h4>
            <p>Monday to Saturday: 12pm - 3:45pm</p>
            <p>Sunday: 12pm - 4pm</p>

            <h4>Dining Opening Times</h4>
            <p>Monday: 4pm - 10pm</p>
            <p>Tuesday: 4pm - 10pm</p>
            <p>Wednesday: 4pm - 10pm</p>
            <p>Thursday: 4pm - 10pm</p>
            <p>Friday: 4pm - 10pm</p>
            <p>Saturday: 4pm - 10pm</p>
            <p>Sunday: 4pm - 10pm</p>
          </div>
        </div>
      </div>
      {% endblock %}
    </div>
  {% endif %}


  <!-- footer -->
  <footer class="site-footer text-white text-center py-3">
    <p>Follow us:</p>
    <!-- Social media links -->
    <div class="social-media-icons">
      <a href="https://www.instagram.com/" target="_blank" aria-label="Follow us on Instagram" rel="noopener">
        <i class="fab fa-instagram"></i></a>
      <a href="https://www.facebook.com/" target="_blank" aria-label="Follow us on Facebook" rel="noopener">
        <i class="fa-brands fa-facebook"></i></a>
      <a href="https://www.youtube.com/" target="_blank" aria-label="Follow us on Youtube" rel="noopener">
        <i class="fa-brands fa-youtube"></i></a>
    </div>
  </footer>
  <!-- JavaScript -->
  <!-- JavaScript för Bootstrap -->
  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" defer></script>
  <script defer src="{% static 'js/scripts.js' %}"></script>
  

</body>

</html>